.landingParent {
    display: flex;
    align-items: center;
    padding: 2vw 10%;
    margin-top: 15%;
}

.landingChildren {
    text-align: left;
    margin-left: 5vw;
}

.landingChildren p {
    width: 50vw;
    font-size: 2vw;
    color: white;
}

.landingChildren img {
    width: 25vw;
    height: auto;
}

.headline {
    margin: 5%;
    text-align: center;
    color: white;
    font-size: 5vw;
}

.grid-container {
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 2vw 5vw;
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    white-space: nowrap;
    margin: 15px 2vw;
    font-size: 3vw;
    text-align: left;
    color: white;
}

.grid-item a {
    color: black;
    transition: all 0.3s ease 0s;
}

.grid-item a:hover {
    color: gray;
}

.cvItem {
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3vw;
}

.cvSymbolHeadline {
    display: flex;
    align-items: center;
}

.cvSymbolHeadline p {
    margin-left: 3vw;
    padding: 2vw 2vw;
    background: white;
    border-radius: 25px;
}

.cvText {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.cvText p {
    text-align: left;
    width: 45vw;
    color: white;
    font-size: 2vw;
}

.verticalStroke {
    border-left: 1px solid white;
    height: 20vw;
    margin-left: 7vw; /*sum of (.container width / 2) and .container margin */
    margin-right: 7vw; /*sum of (.container width / 2) and .container margin */

}

.cv {
    margin-bottom: 30px;
}

.container{
    width: 10vw;
    height: 10vw;
    position: relative;
    margin: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cvDot{
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}
.stack-top{
    z-index: 1;
    height: 50%;
    width: auto;
}

.downloadButton {
    display: block;
    text-align: center;
    color: black;
    padding: 20px 2vw;
    background: white;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
    margin: 100px 40vw;
    font-size: 2vw;
}

.downloadButton:hover {
    color: white;
    background: black;
}

