.landingParent {
    display: flex;
    align-items: center;
    padding: 30px 10%;
    margin-top: 15%;
}

.landingChildren {
    text-align: left;
    margin-left: 5vw;
}

.landingChildren p {
    width: 50vw;
    font-size: 30px;
    color: white;
}

.headline {
    margin: 5%;
    text-align: center;
    color: white;
    font-size: 35px;
}

.grid-container {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    white-space: nowrap;
    margin: 20px;
    font-size: 28px;
    text-align: left;
    color: white;
}

.grid-item a {
    color: black;
    transition: all 0.3s ease 0s;
}

.grid-item a:hover {
    color: gray;
}

.cvItem {
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
}

.cvSymbolHeadline {
    display: flex;
    align-items: center;
}

.cvSymbolHeadline p {
    margin-left: 25px;
    padding: 12px;
    background: white;
    border-radius: 25px;
}

.cvText {
    display: flex;
    align-items: center;
}

.cvText p {
    text-align: left;
    height: 25vh;
    font-size: 25px;
    color: white;
    font-weight: 100;
}

.verticalStroke {
    border-left: 1px solid white;
    height: 25vh;
    margin-top: 10px;
    margin-left: 85px;
    margin-right: 85px;

}

.cv {
    margin-bottom: 15vh;
}

.downloadButton {
    display: block;
    text-align: center;
    color: black;
    padding: 20px;
    background: white;
    border-radius: 25px;
    transition: all 0.3s ease 0s;
    margin: 10vh 40vw 10vh 40vw;
}

.downloadButton:hover {
    color: white;
    background: black;
}

.container{
    width: 150px;
    height: 150px;
    position: relative;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cvDot{
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}
.stack-top{
    z-index: 1;
    height: 50%;
    width: auto;
}