{% extends 'base.html' %}

{% block content %}
    {% for message in get_flashed_messages() %}
     <div>{{ message }}</div>
    {% endfor %}
    <div class="container" style="display: flex; align-items:center; justify-content: space-between;">
        <form method="POST">
            <p>Text:</p>
            <div class="name_field"><input type="text" name="title" placeholder="title for article"></div>
            <div><input type="text" name="head" placeholder="summary of article"></div>
            <textarea name="body" rows="10" cols="50">Write your blog according to the rules of HTML. The Webpage will be rendered right</textarea>
            <div><input type="text" name="icon" placeholder="icon"><a href="https://fonts.google.com/icons?selected=Material+Icons">Use Name of google material icon</a></div>
            <p>Color:</p>
            <div><input type="text" name="r" placeholder="r color value"></div>
            <div><input type="text" name="g" placeholder="g color value"></div>
            <div><input type="text" name="b" placeholder="b color value"></div>
            <p>Credentials for authentication</p>
            <div><input type="text" name="admin" placeholder="admin"></div>
            <div><input type="text" name="password" placeholder="password"></div>
            <p>Link to same article from another webpage like Medium,etc. (not required)</p> 
            <div><input type="text" name="link" placeholder="Link"></div>
            <input type="submit" value="Submit">
        </form>
        <div style="max-width: 50vw; word-wrap: break-word;">
            <p>Blog article will look similar to this on the article page</p>
            <div class="Preview-Content" style="margin-right: 5vw; border: 2px solid red">
                <h1>Test headline</h1>
                <h4>Test subheadline</h4>
                <p>Testing body asfjsadklfjasdröodiorasfguhoierfhgoiaerhgoerutoasjdfoilajsdlfkjasdlkfjsladfjlasdkfjlsadkjflaskfasdfklasdkflsadkfalsdjfalskdfjlskdjflkasdjflskdajflkasjdflkjasldfjaslkdfjlaskdjflaksjdfklasdjfaksdjflksadjaflkasdjflkjsdaflkashlaslkajewoifnasdkfdfjasldkjfsaldkjflaksdjflksdj</p>
            </div>
        </div>
    </div>
{% endblock %}