<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/base.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <title></title>
</head>
<body>
    <div class="header-box">
        <a href="/index">{{websiteData.WEBSITENAME}}</a>
        <p><a href="https://github.com/{{websiteData.GITHUBNAME}}">Github</a></p>
    </div>
    {% block content %}{% endblock %}
</body>
</html>