{% for message in get_flashed_messages() %}
    <p>{{message}}</p>
{% endfor %}
<form method="post" enctype="multipart/form-data">
    <label for="image">Select image (.jpg, .jpeg, .png)</label>
    <input type="file" name='img' id='image' multiple="multiple" accept=".jpg,.jpeg,.png"><br>
    <input type="text" name="title" placeholder="title"><br>
    <input type="text" name="description" placeholder="simple description"><br>
    <input type="text" name="github_link" placeholder="Link to hosted repo"><br>
    <label>Submit your admin credentials</label><br>
    <input type="text" name="user" placeholder="username"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="submit" value="Submit">
</form>