<h1>Choose ID to delete portfolio entry</h1>
{% for message in get_flashed_messages() %}
    <p>{{message}}</p>
{% endfor %}
{% for item in articles%}
    <div style="border: 2px solid black; margin: 5px;">
        <p>{{item._id}}</p>
        <p>{{item.title}}</p>
    </div>
{% endfor %}
<form method="POST">
    <label>Submit your admin credentials and iD of post</label><br>
    <input type="text" name="user" placeholder="username"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="text" name="_id" placeholder="id of Post"><br>
    <input type="submit" value="Submit">
</form>