{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="../static/about.css">
    <div class="page">
        <div class="landingParent">
            <div class="landingChildren">
                <img src="static/images/placeholderImage.jpg" alt="Profile image" class="dot">
            </div>
            <div class="landingChildren">
                <p>Hallo,</p>
                <p>ich bin Hendrik Steen und ich eins meiner Hobby ist das Programmieren. Um den gesundheitlichen Ausgleich zu schaffen, spiele ich Basketball. Auf der Homepage kann man meine bisherigen Projekte ansehen. Vorher habe ich immer wieder etwas kleines programmiert, um Dinge auszuprobieren. Auf diese beiden Projekte bin ich stolz, da ich erstmals etwas öffentlich präsentiere. Ich bin offen für jede Art von Aufgaben und Tools!</p>
            </div>
        </div>
        <p class="headline">Infos über mich:</p>
        <div class="grid-container">
            <div class="grid-item">Name: Hendrik</div>
            <div class="grid-item">Email: <a href="mailto:hendrik0807@icloud.com">hendrik0807@icloud.com</a></div>
            <div class="grid-item">Nachname: Steen</div>
            <div class="grid-item">GitHub: <a href="https://github.com/comhendrik">comhendrik</a></div> 
        </div>
    </div>

{% endblock %}