<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/blog.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <style>
        * { font-family: 'Tahoma', monospace;}
    </style>
    <title>Document</title>
</head>
<body>
    <div class="header-box">
        <a href="index.html">hendriksteen</a>
        <p>Menu</p>
    </div>
    <div class="section"> <span class="material-icons md-1" style="color: orange; background-color: rgb(255,136,0,0.4);">article</span> Blog </div>
    
    <div class="blog-container">

        {% for entry in article %}

        <div class="blog-item {{ loop.cycle('no-1', 'no-2', 'no-2', 'no-1') }}" style="background-color: rgb({{entry.r}},{{entry.g}},{{entry.b}}, 0.6);">
            <div class="blog-headline">
                <div class="blog-image">
                    <span class="blogDot" style="background-color: rgb({{entry.r}},{{entry.g}},{{entry.b}});"></span>
                    <span class="material-icons blog-top" style="color: white;">{{entry.icon}}</span>
                </div>
                <p style="color: rgb({{entry.r}},{{entry.g}},{{entry.b}});">{{entry.title}}</p>
            </div>
            <p>{{entry.head}}</p>
        </div>

        {% endfor %}

    </div>
</body>
</html>