<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/blog.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <style>
        * { font-family: 'Tahoma', monospace;}
    </style>
    <title>Document</title>
</head>
<body>
    <div class="header-box">
        <a href="index.html">hendriksteen</a>
        <p>Menu</p>
    </div>
    <div class="section"> <span class="material-icons md-1" style="color: orange; background-color: rgb(255,136,0,0.4);">article</span> Blog </div>
    
    <div class="blog-container">

        <div class="blog-item no-1" style="background-color: rgb(16,115,248,0.6);">
            <div class="blog-headline">
                <div class="blog-image">
                    <span class="blogDot" style="background-color: rgb(16,115,248);"></span>
                    <span class="material-icons blog-top" style="color: white;">code</span>
                </div>
                <p style="color: rgb(16,115,248);">How to start with Docker</p>
            </div>
            <p>Dieser Artikel erzählt die Geschichte wie ich es geschafft habe meinen ersten Docker Container zu hosten</p>
        </div>

        <div class="blog-item" style="background-color: rgb(255,116,0, 0.6);">
            <div class="blog-headline">
                <div class="blog-image">
                    <span class="blogDot" style="background-color: orange;"></span>
                    <span class="material-icons blog-top" style="color: white;">store</span>
                </div>
                <p style="color: orange;">How to start with Docker</p>
            </div>
            <p>Einzelhandel:
                Seit dem Sommer 2021 arbeite ich nebenbei im Einzelhandel, um etwas Erfahrung zu sammeln und etwas beiseite zu legen. Das Gefühl, dass jemand Vertrauen in dich hat ist einfach schön.</p>
        </div>

    </div>
</body>
</html>