{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="../static/cv.css">
    <div class="section"> <span class="material-icons md-1" style="color: green; background-color: rgb(0,255,0,0.4);">badge</span> Lebenslauf </div>

    <div class="cv-container">

        {% for item in cv_data %}
            <div class="cv-item">
                <div class="cv-headline">
                    <div class="cv-image">
                        <span class="cvDot"></span>
                        <span class="material-icons cv-top">{{item.icon}}</span>
                    </div>
                    <p>{{item.category}}<br><span class="cv-time">{{item.date}}</span></p>
                </div>
                <div class="cv-text">
                    <div class="verticalStroke"></div>
                    <p>{{item.description}}</p>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}