{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="../static/index.css">

    <div class="landingParent">
        <div class="landingChildren1">
            <p class="headline">Hallo, Ich bin</p>
            <p class="headline">Hendrik</p>
            <p class="subheadline">Ich programmiere aus Leidenschaft</p>
            <a href="http//www.google.com" class="about-link" ><p class="about-link-paragraph">Über mich</p></a>
            
        </div>
        <img src="static/images/placeholderImage.jpg" alt="Profile image" class="profileImage">
    </div>

    <div class="grid-container">
        <div class="grid-item">
            <p class="item-header">Mein Portfolio:</p>
            <p class="item-text">Hier präsentiere ich alle Projekte die ich beendet habe</p>
            <a href="portfolio.html" class="section">
                <span class="material-icons md-1" style="color: blue; background-color: rgb(0,0,255,0.4); padding: 0.5vw; border-radius: 10px;">folder</span> Portfolio <span style="color: gray;">></span>
            </a>
        </div>
        <div class="grid-item">
            <p class="item-header">Mein Lebenslauf:</p>
            <p class="item-text">Das enthält alles, was ich bis jetzt im Leben gemacht habe.</p>
            <a href="cv.html" class="section">
                <span class="material-icons md-1" style="color: green; background-color: rgb(0,255,0,0.4); padding: 0.5vw; border-radius: 10px;">badge</span> Lebenslauf <span style="color: gray;">></span>
            </a>
        </div>
        <div class="grid-item">
            <p class="item-header">Mein Blog:</p>
            <p class="item-text">Ich versuche Entdeckungen festzuhalten.</p>
            <a href="blog.html" class="section">
                <span class="material-icons md-1" style="color: orange; background-color: rgb(255,136,0,0.4); padding: 0.5vw; border-radius: 10px;">article</span> Blog <span style="color: gray;">></span>
            </a>
        </div>
    </div>
{% endblock %}