<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/portfolio.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <style>
        * { font-family: 'Tahoma', monospace;}
    </style>
    <title>Document</title>
</head>
<body>
    <div class="header-box">
        <a href="index.html">hendriksteen</a>
        <p>Menu</p>
    </div>
    <div class="section"> <span class="material-icons md-1" style="color: blue; background-color: rgb(0,0,255,0.4);">folder</span> Portfolio </div>
    
    <div class="pf-container">
        {% for item in portfolio_data %}
            <div class="pf-item">

                
                {% if loop.index is divisibleby 2  %}

                    <div class="pf-item-text">
                        <p class="item-text-header">{{item.title}}</p>
                        <p class="item-text-description">{{item.description}}</p>
                        <a href="{{item.github_link}}" class="item-link">
                            <span class="material-icons md-2" style="color: black; background-color: rgb(0,0,0,0.4);">code</span> GitHub <span style="color: gray;">></span>
                        </a>
                    </div>

                    <div class="img-container">
                        {% for img in item.images %}
                        <img src="{{img.path}}" alt="placeholderImage">
                        {% endfor %}
                    </div>

                {% else %}

                    <div class="img-container">
                        {% for img in item.images %}
                        <img src="{{img.path}}" alt="placeholderImage">
                        {% endfor %}
                    </div>

                    <div class="pf-item-text">
                        <p class="item-text-header">{{item.title}}</p>
                        <p class="item-text-description">{{item.description}}</p>
                        <a href="{{item.github_link}}" class="item-link">
                            <span class="material-icons md-2" style="color: black; background-color: rgb(0,0,0,0.4);">code</span> GitHub <span style="color: gray;">></span>
                        </a>
                    </div>

                    
                
                {% endif %}
                
            </div>
        {% endfor %}
    </div>
</body>
</html>